html {
  background: url(../../assets/img/bg.llamados.jpg);
  background-size: 100% 100%;
  height: 100%;
  overflow: hidden;
}

section {
  background: url('../../assets/img/bussiness.jpg');
  height: 460px;
  width: 58.9rem;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 9.1rem;
  left: -6rem;
  padding: 0 !important;
}

ul {
  color: white;
  right: 3rem;
  position: absolute;
  font-size: 2.8rem;
  top: 4rem;
}

.footer {
  background-color: transparent;
  padding: 3rem 1.5rem 6rem;
  position: fixed;
  top: 87%;
  /* bottom: 0; */
  color: white;
  font-size: 2rem;
  -webkit-animation: slide-right 4s cubic-bezier(.25, .46, .45, .94) infinite alternate-reverse both;
  animation: slide-right 4s cubic-bezier(.25, .46, .45, .94) infinite alternate-reverse both
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px)
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px)
  }
}